<div class="container text-center">
<div class="row">
    <form action="/answer" method="get">
      <div class="form-group">
        <label for="question">Speak to your coach</label>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="question" name="query" placeholder="what time is it?">
      </div>
      <input type="submit" value="Go on!" class="btn btn-primary">
    </form>
</div>

</div>

